<mat-card>
    <mat-card-header>
      <mat-card-title>Today's Attendance of All Employees</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="todayAttendance" class="mat-elevation-z8">
        <!-- Employee Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Employee Name </th>
          <td mat-cell *matCellDef="let employee"> {{employee.name}} </td>
        </ng-container>
  
        <!-- In Time Column -->
        <ng-container matColumnDef="inTime">
          <th mat-header-cell *matHeaderCellDef> In Time </th>
          <td mat-cell *matCellDef="let employee"> {{employee.inTime}} </td>
        </ng-container>
  
        <!-- Out Time Column -->
        <ng-container matColumnDef="outTime">
          <th mat-header-cell *matHeaderCellDef> Out Time </th>
          <td mat-cell *matCellDef="let employee"> {{employee.outTime}} </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>
  </mat-card>
  